@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin opacity($value) {
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

$offset: 0px;
$bgcolor: #111;

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#root{

 // @include transform(translateY(1%) translateX(-50%));

}
.speedometer {

  left: -$offset;
  mix-blend-mode: screen;
  margin-top:-40px;
  white-space: nowrap;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  @include animation('skew 2s infinite', 'flash .04s infinite');

  &:after, &:before{
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: screen;
  }
  &:after{
    top: 0;
    left: $offset;
    color: green;
    @include animation('move 1.5s infinite');
  }
  &:before{
    top: -0.4*$offset;
    left: 0.6*$offset;
    color: red;
  }
}

.line{
  position: absolute;
  left: 0px;
  right: 0;
  width: 100%;
  height: .0px;
  border: none;
  border-top: 4px dashed red;
  border-bottom: 4px dashed red;
  background: black;
  mix-blend-mode: multiply;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  &:after, &:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0px;
    mix-blend-mode: hue;
  }
  &:after{
    top: 0px;
    background: #000;
  }
  &:before{
    top: 0px;
    background: #ffffff;
  }
}

.line2{
  position: absolute;
  left: 0px;
  right: 0;
  width: 100%;
  height: .0px;
  border: none;
  border-top: 2px dashed blue;
  border-bottom: 4px dashed #ffffff;
  background: black;
  mix-blend-mode: saturation;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  &:after, &:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0px;
    mix-blend-mode: hue;
  }
  &:after{
    top: 6px;
    background: #000;
  }
  &:before{
    top: 6px;
    background: #00ff00;
  }
}

.line3{
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: .0px;
  border: none;
  border-top: 4px dashed #00ff00;
  border-bottom: 4px dashed #ffffff;
  background: black;
  mix-blend-mode: overlay;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(3px);
  &:after, &:before{
    content: '';
    position: absolute;
    bottom: 8px;
    width: 100%;
    height: 0px;
    mix-blend-mode: difference;
  }
  &:after{
    top: 0px;
    background: #000;
  }
  &:before{
    top: -0px;
    background: #0000ff;
  }
}

@include keyframes(skew){
  0%    { @include transform(none) }
  30%   { @include transform(none) }
  30.2% { @include transform(skewX(50deg)) }
  30.4% { @include transform(skewX(-50deg)) }
  31%   { @include transform(none) }
}
@include keyframes(move){
  0%   { @include transform(none); }
  30%  { @include transform(none); }
  31%  { @include transform(translateX(-$offset)) }
  33%  { @include transform(none); }
  98%  { @include transform(none); }
  100% { @include transform(translateX($offset)) }
}
@include keyframes(flash){
  0%   { @include opacity(1) }
  50%  { @include opacity(0.9) }
}
@include keyframes(lines){
  0%   { @include opacity(0.9) }
  30%  { @include transform(translateY(-.2px))}
  31%  { @include transform(translateX(-2.2px))}
  50%  { @include opacity(0.4) }
  60%  { @include transform(translateY(.2px))}
  65%  { @include transform(translateX(-12.2px))}
  100%  { @include opacity(0.0) }
}
@include keyframes(lines2){
  0%   { @include opacity(0.9) }
  30%  { @include transform(translateY(-1.5px))}
  30%  { @include transform(translateX(4.2px))}
  50%  { @include opacity(0.4) }
  60%  { @include transform(translateY(.4px))}
  70%  { @include transform(translateY(-4.4px))}
  100%  { @include opacity(0.0) }
}
@include keyframes(lines3){
  0%   { @include opacity(0.9) }
  30%  { @include transform(translateY(1.5px))}
  50%  { @include opacity(0.4) }
  60%  { @include transform(translateY(-1.4px))}
  100%  { @include opacity(0.0) }
}