@keyframes glow-anim {
    from {
        text-shadow: -7px -0px 3px black, 0 0 20px #00f, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6;

    }

    to {
        text-shadow: -7px -0px 3px black, 0 0 20px #00f, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;

    }
}

.glow {
    -webkit-animation: glow-anim 1s ease-in-out infinite alternate;
    animation: glow-anim 1s ease-in-out infinite alternate;
}

.fuelgauge {
    padding:0px;
    margin-right:0px;
}

.speedometer {
    font-weight: bold;
    text-align: center;
    padding:0;
}

.textgradient {

}

.speedbox {
    float: left;
    font-size: smaller;
    color: white;
    padding-top: 10px;
    margin-right: 2px;
    width: 100px;
    background: -webkit-linear-gradient(white 0%, purple 86%, white 100%);
    background: -moz-linear-gradient(white 0%, purple 86%, white 100%);
    background: linear-gradient(white 0%, purple 86%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.currentSpeedbox {
    float: left;
    word-spacing:-40px;
    position:relative;
}