@keyframes glow-anim {
    from {
        text-shadow: -3px -0px 1px #000000, 0 0 20px #000, 0 0 30px #ff0000, 0 0 10px #ff0000, 0 0 20px #000000, 0 0 10px #000000;

    }

    to {
        text-shadow: -3px -0px 1px #000000, 0 0 20px #00f, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 10px #ff0000, 0 0 40px #ff0000;

    }
}

.glow {
    -webkit-animation: glow-anim 1s ease-in-out infinite alternate;
    animation: glow-anim 1s ease-in-out infinite alternate;
}

.fuelgauge {
    padding:0px;
    margin-right:0px;
}

.speedometer {
    font-weight: bold;
    text-align: center;
    padding:0;
    height:100%;
}

.textgradient {
    padding: 0px;
    margin: 0px;
    height: 90px;
}

.overlay img {
    z-index: 101;
    position: absolute;
    width:2000px;
    height:100%;
}

.speedbox {
    float: left;
    font-size: smaller;
    padding-top: 9px;
    margin-right: 2px;
    width: 100px;
    height: 100%;
    background: linear-gradient(45deg, #cc0000 0%, red 86%, #cc0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.currentSpeedbox {
    float: left;
    word-spacing:-40px;
    position:relative;
    height: 100%;
}
