* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.speedometer {
  padding: 0;
  height: 100%;
  left: 0;
  mix-blend-mode: screen;
  margin-top: var(--speedo-margin-top);
  font-size: var(--speedo-font-size);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  -webkit-animation: skew 2s infinite, flash .04s infinite;
  -moz-animation: skew 2s infinite, flash .04s infinite;
  -o-animation: skew 2s infinite, flash .04s infinite;
  animation: skew 2s infinite, flash .04s infinite;
}
.speedometer:after, .speedometer:before {
  content: attr(data-text);
  position: absolute;
  mix-blend-mode: screen;
}
.speedometer:after {
  top: 0;
  left: 2px;
  color: green;
  -webkit-animation: move 1.5s infinite;
  -moz-animation: move 1.5s infinite;
  -o-animation: move 1.5s infinite;
  animation: move 1.5s infinite;
}
.speedometer:before {
  top: -0.8px;
  left: 1.2px;
  color: red;
}

.line {
  position: absolute;
  left: 0px;
  right: 0;
  width: 100%;
  height: 0px;
  border: none;
  border-top: var(--pixel-width) dashed green;
  border-bottom: var(--pixel-width) dashed red;
  background: black;
  mix-blend-mode: color-burn;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
}
.line:after, .line:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0px;
  mix-blend-mode: hue;
}
.line:after {
  top: 0px;
  background: #000;
}
.line:before {
  top: 0px;
  background: #ffffff;
}

@-webkit-keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-moz-keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-o-keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@-moz-keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.99;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
  }
}
@-moz-keyframes flash {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.99;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
  }
}
@-o-keyframes flash {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.99;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
  }
}
@keyframes flash {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.99;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
  }
}
@-webkit-keyframes lines1 {
  0% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
  }
  30% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
  31% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  60% {
    -webkit-transform: translateY(0.2px);
    -moz-transform: translateY(0.2px);
    -ms-transform: translateY(0.2px);
    -o-transform: translateY(0.2px);
    transform: translateY(0.2px);
  }
  65% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes lines1 {
  0% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
  }
  30% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
  31% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  60% {
    -webkit-transform: translateY(0.2px);
    -moz-transform: translateY(0.2px);
    -ms-transform: translateY(0.2px);
    -o-transform: translateY(0.2px);
    transform: translateY(0.2px);
  }
  65% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes lines1 {
  0% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
  }
  30% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
  31% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  60% {
    -webkit-transform: translateY(0.2px);
    -moz-transform: translateY(0.2px);
    -ms-transform: translateY(0.2px);
    -o-transform: translateY(0.2px);
    transform: translateY(0.2px);
  }
  65% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes lines1 {
  0% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
  }
  30% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
  31% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  60% {
    -webkit-transform: translateY(0.2px);
    -moz-transform: translateY(0.2px);
    -ms-transform: translateY(0.2px);
    -o-transform: translateY(0.2px);
    transform: translateY(0.2px);
  }
  65% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pixels {
  30% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
  60% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
}
@-moz-keyframes pixels {
  30% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
  60% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
}
@-o-keyframes pixels {
  30% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
  60% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
}
@keyframes pixels {
  30% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
  60% {
    -webkit-transform: translateY(-0.2px);
    -moz-transform: translateY(-0.2px);
    -ms-transform: translateY(-0.2px);
    -o-transform: translateY(-0.2px);
    transform: translateY(-0.2px);
  }
}

/*# sourceMappingURL=vhs.css.map */
