.App {
  text-align: left;
  font-family: var(--speedo-font);
}

.App-header {
  background-color: #000;
  min-height: 74vh;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(82px + 2vmin);
  color: white;
  padding: 0px;
  float:left;
}

.gal {
  font-weight: bold;
  -webkit-text-stroke:3px red;
  -webkit-text-fill-color:white;
}
  
.boringText {
  font-size:24px;
  color:white;
  text-shadow:0px 0px 4px red;
}

