:root {
  --speedo-font: "uni05";
  --speedo-font-size:80px;
  --pixel-width: 2px;
  --speedo-margin-top:-40px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','house',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "days";
  src: local('days'),
  url('./fonts/28 Days Later.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "punkkid";
  src: local('punkkid'),
  url('./fonts/punk kid.ttf') format("truetype");
}

@font-face {
  font-family: "ka1";
  src: local('ka1'),
  url('./fonts/ka1.ttf') format("truetype");
}


@font-face {
  font-family: "playbill";
  src: local('playbill'),
  url('./fonts/playbill.ttf') format("truetype");
}
@font-face {
  font-family: "teaspoon";
  src: local('teaspoon'),
  url('./fonts/Teaspoon.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "witless";
  src: local('witless'),
  url('./fonts/witless.ttf') format("truetype");
  font-weight: bold;
}


@font-face {
  font-family: "strenuous";
  src: local('strenuous'),
  url('./fonts/strenuous 3d.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "uni05";
  src: local('uni05'),
  url('./fonts/uni05.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "rock";
  src: local('rock'),
  url('./fonts/Rock Show Whiplash.ttf') format("truetype");
  font-weight: bold;
}




@font-face {
  font-family: "house";
  src: local('house'),
        url('./fonts/house.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "digital-7";
  src: local('digital-7'),
  url('./fonts/digital-7.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "paraaminobenzoic";
  src: local('paraaminobenzoic'),
  url('./fonts/paraaminobenzoic.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Joystix";
  src: local('Joystix'),
  url('./fonts/Joystix.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Clover";
  src: local('Clover'),
  url('./fonts/Clover.otf') format("opentype");
  font-weight: bold;
}