:root {
  --speedo-font: "paraaminobenzoic";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','house',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "house";
  src: local('house'),
        url('./fonts/house.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "digital-7";
  src: local('digital-7'),
  url('./fonts/digital-7.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "paraaminobenzoic";
  src: local('paraaminobenzoic'),
  url('./fonts/paraaminobenzoic.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Joystix";
  src: local('Joystix'),
  url('./fonts/Joystix.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Clover";
  src: local('Clover'),
  url('./fonts/Clover.otf') format("opentype");
  font-weight: bold;
}